<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item - 1</key>
	<dict>
		<key>Caption</key>
		<string>Акваферма</string>
		<key>Photo</key>
		<string>биоаквариум50+</string>
	</dict>
	<key>Item - 2</key>
	<dict>
		<key>Caption</key>
		<string>Гамак для ног</string>
		<key>Photo</key>
		<string>гамак для ног50+</string>
	</dict>
	<key>Item - 3</key>
	<dict>
		<key>Caption</key>
		<string>Горшок для домашний растений</string>
		<key>Photo</key>
		<string>горшки50+</string>
	</dict>
	<key>Item - 4</key>
	<dict>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель50+</string>
	</dict>
	<key>Item - 5</key>
	<dict>
		<key>Caption</key>
		<string>Кресло-качалка</string>
		<key>Photo</key>
		<string>качалка50+</string>
	</dict>
	<key>Item - 6</key>
	<dict>
		<key>Caption</key>
		<string>Портативная кофеварка</string>
		<key>Photo</key>
		<string>кофеварка50+</string>
	</dict>
	<key>Item - 7</key>
	<dict>
		<key>Caption</key>
		<string>Молочник </string>
		<key>Photo</key>
		<string>молочник50+</string>
	</dict>
	<key>Item - 8</key>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка-стакан50+</string>
	</dict>
	<key>Item - 9</key>
	<dict>
		<key>Caption</key>
		<string>Декоративное дерево</string>
		<key>Photo</key>
		<string>росток50+</string>
	</dict>
	<key>Item - 10</key>
	<dict>
		<key>Caption</key>
		<string>Стоппер для дверей</string>
		<key>Photo</key>
		<string>туфля50+</string>
	</dict>
	<key>Item - 11</key>
	<dict>
		<key>Caption</key>
		<string>Формы для льда</string>
		<key>Photo</key>
		<string>формы50+</string>
	</dict>
</dict>
</plist>
