<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Интерактивный скретч-постер, который мотивирует разнообразить жизнь влюбленных сотней пикантных вариаций. Проводите ночи с пользой и каждый раз узнавайте друг о друге что-то новенькое. Постер скрывает под защитными пледами сотню поз для двоих, однако количество участников ограничивается только смелостью! </string>
		<key>Caption</key>
		<string>Скретч-карта &quot;100 поз&quot;</string>
		<key>Photo</key>
		<string>займись сексомЖ14февр</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Очень воздушный и очаровательный зонтик для романтичных барышень, которые даже под проливным дождём не изменяют своему стилю! Две яркие птички по обеим сторонам купола будут сопровождать тебя, притягивая взгляды, и создавая ощущение, что сейчас они оживут, чтобы прочирикать тебе песенку о том, как прекрасен этот мир! </string>
		<key>Caption</key>
		<string>Зонт-трость</string>
		<key>Photo</key>
		<string>зонт-тростьЖДР</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Будь вы профессиональный повар или кулинар-любитель - за всем на кухне не уследить! Но есть решение! Кухонный таймер позволит вам контролировать время приготовления ваших любимых блюд и не позволит вам забыть о том, что у вас что-то готовиться. Таймер можно установить до 60 минут. Плюс ко всему украсит ваш кухонный интерьер и поднимет вам настроение в процессе готовки!</string>
		<key>Caption</key>
		<string>Кухонный таймер</string>
		<key>Photo</key>
		<string>кухонный таймерЖДР</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Мечтать не вредно, а иногда даже полезно: о космосе, далеких путешествиях.. Мечтайте о невозможном! Вдвойне приятно делать это в обнимку с уютной льняной подушкой. С ней самые теплые и уютные сны. Вдобавок послужит отличным аксессуаром вашему дивану или креслу.</string>
		<key>Caption</key>
		<string>Льняная подушка</string>
		<key>Photo</key>
		<string>льняная подушкаЖ8март</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Тепло, любовь и самое праздничное настроение собрано в маленькой коробочке и крепко перевязано лентой, чтобы добраться до вашей второй половинки в целости. &quot;Плюшевая&quot; маска для сна принесет вашему любимому человеку сладкие сновидения и, без сомнения, будет поднимать настроение по утрам каждый день вам и вашим близким! </string>
		<key>Caption</key>
		<string>Маска для сна</string>
		<key>Photo</key>
		<string>маска для снаЖ8Март</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>На первый взгляд, кажется, что это мягкая подушка. Но внешность обманчива! На самом деле, подставка выполнена из красивого белого фарфора. Такая подставка с легкостью украсит ваш стол и поднимет настроение!</string>
		<key>Caption</key>
		<string>Подставка для яйца</string>
		<key>Photo</key>
		<string>подставка для яйцаЖНГ</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Персональный увлажнитель воздуха прямо на вашем рабочем столе. Это полезно для кожи, да и дышать таким воздухом приятнее. Достаточно налить воды в такой горшочек - и он все сделает сам! Внутрь также можно добавить несколько капель арома-масла, чтобы пространство вокруг пахло приятнее. Покрыт антибактериальным составом и легко чиститься. Все, что вам нужно для хорошего настроения!</string>
		<key>Caption</key>
		<string>Увлажнитель воздуха</string>
		<key>Photo</key>
		<string>увлажнитель воздухаЖ14Ф</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ваши кулинарные шедевры никогда не станут прежними. Если вы любите готовить и посвящаете свою жизнь кулинарии, то вам точно стоит это попробовать. Добавьте пасту к мороженому или пудингу, сочетай ее вместе с утренним кофе - все в твоих руках.</string>
		<key>Caption</key>
		<string>Паста из овощей/фруктов</string>
		<key>Photo</key>
		<string>фисташковая пастаЖ8март</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Если вы постоянно теряете свои зарядные устройста, то вам точно необходима эта вещь. Чехол предназначен для того, чтобы упорядочить ваши провода и зарядные устройста, чтобы больше не тратить на их поиски больше 30 секунд. В сумке-чехле присутствуют маленькие карманы и отверстия для переходников или других аксессуаров, которые сопровождают ваши зарядые устройства. Доказано, наличие специальной красивой сумки дисциплинирует, так что ты точно будешь класть зарядку в чехол. Это защитит её от грязи, механических повреждений и других опасностей, а шнур не будет перетираться и заминаться.</string>
		<key>Caption</key>
		<string>Чехол для зарядных </string>
		<key>Photo</key>
		<string>чехол для зарядкиЖДР</string>
	</dict>
</array>
</plist>
