<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Журнальные и придиванные столики — различных стилей, сочетающихся с нашей мягкой и другой мебелью, — позаботятся обо всем, что хочется держать под рукой. Можно выбрать попроще — чтобы поставить чашечку кофе и положить пульт телевизора. Или посложнее — с полками, или, например, с выдвижными ящиками для хранения сервировочных салфеток и журналов. Идеальный вариант украсить люблй интерьер.</string>
		<key>Caption</key>
		<string>Стол-подставка</string>
		<key>Photo</key>
		<string>стол-подставка30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Вешалка предназначена для компактного хранения одежды, занимая минимальное пространство в вашем доме, при этом украшает интерьер. Своеобразный мини-гардероб легко перемещается в пространстве благодаря колесикам. Четкие геометрические линии, характерные для вешалки, идеально организовывают пространство прихожей а также любой другой комнаты вашего дома или квартиры.</string>
		<key>Caption</key>
		<string>Декоративная вешалка</string>
		<key>Photo</key>
		<string>декоративная вешалка30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Дизайнерские подвесные светильники идеально подходят для украшения вашего гнезда. Плюсы их в том что они достаточно компактны, не занимают много места и отлично вписываются в любой интерьер. Вешать такие можно по одному или по несколько сразу, дабы создать уютную атмосферу и красивый свет. Дарите своим друзьям и близким свет и получайте удовольствие!</string>
		<key>Caption</key>
		<string>Подвесной светильник</string>
		<key>Photo</key>
		<string>подвесной светильник30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Симпатичный человечек будет рад внести свой эко-вклад в развитие растительной жизни в твоем доме. Его голова - это кашпо, в котором ты можешь посадить травку или любые другие растения на любой вкус и цвет. Немного любви, света и регулярного полива - и любой парикмахер позавидует его колосящимся зеленым локонам. Идеальное сочитание природы и красоты.</string>
		<key>Caption</key>
		<string>Горшок для растений</string>
		<key>Photo</key>
		<string>горшок30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличный подарок представительнице прекрасного пола. В круглом металлическом корпусе находятся 2 зеркала - обычное и увеличивающее. Благодаря специальной подставке вы можете поставить зеркало в любом удобном для вас месте. Зеркало твердо стоит на подставке, легко вращается. Вид аккуратный. Достаточно большое. Что еще нужно для улыбки на лице вашей возлюбленной или мамы?</string>
		<key>Caption</key>
		<string>Зеркало с подставкой</string>
		<key>Photo</key>
		<string>зеркало30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Создание или декорирование светильников и абажуров занятие не только невероятно интересное, но и достаточно полезное: оно позволяет не только создать уникальный предмет, причем в полном соответствии с интерьером вашего дома, но и здорово сэкономить. Достаточно приобрести самый простой светильник за небольшие деньги и обыграть его по вашему вкусу. А уж вариантов что и как можно сделать огромное множество, в самых разных техниках, с использованием самых различных материалов. Ведь лучший подарок - это подарок, сделанный своими руками.</string>
		<key>Caption</key>
		<string>Декоративный абажур</string>
		<key>Photo</key>
		<string>абажур30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Дома или в путешествиях вам не нужно будет искать ваши средства гигиены, ибо они всегда будут у вас в одном месте и под рукой с таким прекрасным чехлом. Множество внешних и внутренних отсеков позволят вам хранить вещи любой величины. Если вам нужно организовать ваши средства гигиены - чехол то, что вам нужно!</string>
		<key>Caption</key>
		<string>Чехол для средств гигиены</string>
		<key>Photo</key>
		<string>чехол для гигиены30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Легко транспортируемая кофеварка теперь всегда будет с вами. По утрам вы сможете насладиться свежесваренным кофе и порадовать других. Кофе можно заваривать капельным способом. Для получения готового напитка необходимо пропустить кипяток через установленный в кофеварку фильтр с молотым кофе и все, кофе у вас! Можно даже устанавливать сверху на чашку или стакан.</string>
		<key>Caption</key>
		<string>Портативная кофеварка</string>
		<key>Photo</key>
		<string>кофеварка30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Нет, это не та трава, о которой ты мог подумать. Это та самая свежая трава, которая растёт в лесу или на газоне возле твоего загородного дома. Свежая, летняя, на ней играют, на ней лежат, а серьёзные спортсмены на ней занимаются спортом. Так что если твоя подруга футболист, хоккеист (на траве) или гольфист - смело дари этот аромат. Они оценят!</string>
		<key>Caption</key>
		<string>Масло-парфюм</string>
		<key>Photo</key>
		<string>масло-парфюм30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Сделай свое окружение зеленее, а воздух чище, не пачкая при этом руки в грунте и не ломая голову над тем, какие семена и удобрения лучше подобрать. Вовремя поливай растение согласно инструкции, и твой новый зеленый друг не заставит себя долго ждать! Теперь вы сможете вырастить самое настоящее дерево прямо у себя на подоконнике!</string>
		<key>Caption</key>
		<string>Домашнее дерево</string>
		<key>Photo</key>
		<string>дерево30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Периодически обновлять свой гардероб просто необходимо для того, чтобы чувствовать ярче, не надоедать самому себе и просто-напросто радоваться обновкам. А представь, как здорово будет чаще менять свой дорожный чемодан! И для этого не нужно постоянно покупать новый, ведь это вещь прочная и дорогостоящая. Зато можно купить множество ярких, разнообразных чехлов, подходящих к любому твоему наряду, и менять их, когда вздумается.</string>
		<key>Caption</key>
		<string>Чехол для чемодана</string>
		<key>Photo</key>
		<string>чехол30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Любая девушка будет в восторге от такого подарка! Шкатулка может служить не только складом для украшений девушки, но и прикрасным дополненим к вашей комнате. Лаконичная и стильная шкатулка - впишется в любой интерьер. Очень полезна тем, у кого много украшений, которые необходимо систематизировать. Если у вас есть такие знакомые - у нас есть идея для вашего подарка!</string>
		<key>Caption</key>
		<string>Шкатулка</string>
		<key>Photo</key>
		<string>шкатулка30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Когда нужно добавить образу перчинки, нет ничего лучше эффектных брошек. Прелесть модных украшений из плексигласа – в их способности преобразовать даже самый скучный или строгий аутфит. Носить дизайнерские броши можно на лацканах пальто и жакетах, с мягким кашемиром, футболками и трикотажем, с жилетами и платьями – попробовав один раз, невозможно остановиться. Порадуйте своих девушек!</string>
		<key>Caption</key>
		<string>Брошь на одежду/рюкзак</string>
		<key>Photo</key>
		<string>брошь30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ах, как приятно провести вечер после тяжелого дня в теплой пенной ванне, с любимой книжкой и бокалом вина! Только одна проблема: книжка все время пытается выскользнуть из рук и намокнуть, а бокал вообще некуда поставить, разве что на раковину. Необходима полка! Красиво и удобно. </string>
		<key>Caption</key>
		<string>Столик для ванны</string>
		<key>Photo</key>
		<string>подставка для ванной30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Акваферма – это самоочищающийся аквариум, который выращивает урожай. Рыбка кормит растения, а растения очищают воду в аквариуме. Это замкнутая экосистема прямо на вашем столе! Всё, что вам нужно делать – кормить свою рыбку и наслаждаться появляющимися зелёными листочками. Этим подарком вы сможете растопить сердце любой девушки!</string>
		<key>Caption</key>
		<string>Акваферма</string>
		<key>Photo</key>
		<string>акваферма30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Драгоценности заслуживают бережного ухода и достойной яркой жизни. У вашей девушки или матери еще никогда не было ничего подобного. И даже если сегодня ваша половинка не надела свою любимую подвеску, это не повод запирать её в тёмном ящике, пусть лучше остаётся на виду, элегантно свисая с держателя.</string>
		<key>Caption</key>
		<string>Держатель украшений</string>
		<key>Photo</key>
		<string>держатель30-50ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Надоело пить обычную воду? Хотите разнообразить вкус? Такой стакан со шпажкой как раз для вас! Просто стоит надеть на шпажку несколько фруктов и в течении дня ваша безвкусная вода превратится в что-то похожее на морс. Никогда не оставит вас в жажде.</string>
		<key>Caption</key>
		<string>Стакан для фруктов</string>
		<key>Photo</key>
		<string>стакан для фруков30-50ж</string>
	</dict>
</array>
</plist>
