<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Дизайнерские подвесные светильники идеально подходят для украшения вашего гнезда. Плюсы их в том что они достаточно компактны, не занимают много места и отлично вписываются в любой интерьер. Вешать такие можно по одному или по несколько сразу, дабы создать уютную атмосферу и красивый свет. Дарите своим друзьям и близким свет и получайте удовольствие!</string>
		<key>Caption</key>
		<string>Подвесной светильник</string>
		<key>Photo</key>
		<string>светильник16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Симпатичный человечек будет рад внести свой эко-вклад в развитие растительной жизни в твоем доме. Его голова - это кашпо, в котором ты можешь посадить травку или любые другие растения на любой вкус и цвет. Немного любви, света и регулярного полива - и любой парикмахер позавидует его колосящимся зеленым локонам. Идеальное сочитание природы и красоты.</string>
		<key>Caption</key>
		<string>Горшок для растений</string>
		<key>Photo</key>
		<string>горшок16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Первое, второе и компот - в ланчбокс поместиться полноценный обед на 2х человек! Ланчбокс - идеальный вариант для пикника, или для тех, кто любит плотненько пообедать. Купив ланч-бокс вы навсегда забудьте проблему транспортировки легких обедов. Вы всегда сможете перекусить, когда вам это необходимо. Теперь вы или человек, о котором вы заботитесь не останется голодным!</string>
		<key>Caption</key>
		<string>Ланч-бокс</string>
		<key>Photo</key>
		<string>посуда16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Мода на классику возвращается, только все в больших вариациях. Галстук-бабочка и подтяжки с оригинальными принтами подойдут к различным образам: официальному костюму, одежде в стиле &quot;casual&quot;, и даже к самому неординарному наряду! К тому же, этот комплект будет выигрышно смотреться как на мужчинах, так и на девушках. </string>
		<key>Caption</key>
		<string>Набор подтяжек и бабочек</string>
		<key>Photo</key>
		<string>подтяжки16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Завораживающий браслет ручной работы с использованием полудрагоценных камней собран эксклюзивно для подарка девушке! Искрящиеся на солнышке камни и переливающийся шнурок нежно подчеркнут аккуратную ручку и украсят любое запястье. А настоящие камни, как известно, благотворно влияют на человека и заряжают хорошим настроением. Ваша девушка, жена или мама будет в восторге!</string>
		<key>Caption</key>
		<string>Плетеный браслет</string>
		<key>Photo</key>
		<string>браслет16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Лаконичный набор из нескольких карандашей разной мягкости станут отличным подарком для художников или людей, любящих творчество. Древесный цвет не отвлекает от собственных мыслей, помогает сосредоточиться и создать шедевр. Идеально подходит для ценителей минимализма. Оригинально и просто, это ваш случай!</string>
		<key>Caption</key>
		<string>Набор карандашей</string>
		<key>Photo</key>
		<string>карандаш16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Любая девушка будет в восторге от такого подарка! Шкатулка может служить не только складом для украшений девушки, но и прикрасным дополненим к вашей комнате. Лаконичная и стильная шкатулка - впишется в любой интерьер. Очень полезна тем, у кого много украшений, которые необходимо систематизировать. Если у вас есть такие знакомые - у нас есть идея для вашего подарка!</string>
		<key>Caption</key>
		<string>Шкатулка</string>
		<key>Photo</key>
		<string>шкатулка16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Когда нужно добавить образу перчинки, нет ничего лучше эффектных брошек. Прелесть модных украшений из плексигласа – в их способности преобразовать даже самый скучный или строгий аутфит. Носить дизайнерские броши можно на лацканах пальто и жакетах, с мягким кашемиром, футболками и трикотажем, с жилетами и платьями – попробовав один раз, невозможно остановиться. Порадуйте своих девушек!</string>
		<key>Caption</key>
		<string>Брошь на одежду/рюкзак</string>
		<key>Photo</key>
		<string>брошь16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Рюкзаки - нынешний тренд. Если выйти на улицу, то можно увидеть что много девушек не ходят с сумками и клатчами, а носят именно рюкзаки. Это и не удивительно, потому что туда можно положить много вещей, при этом он будет смотреться красиво и компактно. Рюкзак заботливо будет хранить ноутбук, все необходимые вещи и приятные мелочи, которые понадобятся тебе в дороге. </string>
		<key>Caption</key>
		<string>Рюкзак</string>
		<key>Photo</key>
		<string>рюкзак16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Такой маленький и симпатичный спутник теперь будет всегда сопровождать вашу девушку на учебу или работу, а утром, пока ты готовишь завтрак, обязательно поднимет ей настроение. Возможно выбрать подарок на любой вкус и цвет, можно выбрать из уже существующих принтов или заказать самому с гравировкой имени того человека, котрому вы собираетесь презентовать это чудо.
</string>
		<key>Caption</key>
		<string>Банка для напитков</string>
		<key>Photo</key>
		<string>стакан16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Множество событий в жизни современного человека достойны того, чтобы сохраняться на долгие годы. Запечатлить их можно фотоаппаратом, а вот просматривать их интереснее, держа в руках и перелистывая красиво оформленные страницы современных фотокниг. Фотоальбом для снимков из Instagram (или просто Инстабук) - то что вам нужно. Благодаря инновационным материалам ваши интерьерные отпечатки будут более устойчивы к истиранию, воздействию внешних факторов и влаге. </string>
		<key>Caption</key>
		<string>Альбом для Instagram-фото</string>
		<key>Photo</key>
		<string>истабук16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Акваферма – это самоочищающийся аквариум, который выращивает урожай. Рыбка кормит растения, а растения очищают воду в аквариуме. Это замкнутая экосистема прямо на вашем столе! Всё, что вам нужно делать – кормить свою рыбку и наслаждаться появляющимися зелёными листочками. Этим подарком вы сможете растопить сердце любой девушки!</string>
		<key>Caption</key>
		<string>Акваферма</string>
		<key>Photo</key>
		<string>акваферма16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Детский игровой домик - отличный подарок ребенку. Интересный домик с кухонными аксессуарами будет отличным дополнением комнаты ваших детей.  Домик легко собирается, детали соединяются и закрепляются специальными пластиковыми гайками, которые входят в комплект, конструкция домика очень надёжная и устойчивая.</string>
		<key>Caption</key>
		<string>Мини-дом </string>
		<key>Photo</key>
		<string>домик16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Всякий художник нуждается в надёжном инструменте. Берётесь ли вы эскиз, рисуете ли по зову вдохновения — без хороших карандашей не обойтись. Такие карандаши отличаются лёгкими и плавными линиями при рисовании, что делает их оптимальным вариантом для скетчинга и работы в свободном стиле.</string>
		<key>Caption</key>
		<string>Набор дизайн-принадлежностей</string>
		<key>Photo</key>
		<string>дизайн16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличный подарок на компанию. В число настольных игр входят игры со специальным полем, карточные игры, кости, солдатики и другие. Игры данной категории, в отличие от спортивных и видеоигр, не требуют активного перемещения игроков, наличия дополнительного технически сложного инвентаря или специальных сооружений, игровых площадок, полей и т. п. Поможет вам не засиживаться на месте и весело провести время с друзьями и знакомыми. </string>
		<key>Caption</key>
		<string>Настольная игра</string>
		<key>Photo</key>
		<string>манчкин16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>У детей всегда чешутся руки порисовать на чем-то. Чтобы избежать рисования ваших детей на обоях отлично подходит доска для рисования мелом. Помимо того, что на ней можно рисовать мелом, туда можно закрепить листы и рисовать уже карандашами или фломастерами. Отлично подходит для непоседливых и активных детей.</string>
		<key>Caption</key>
		<string>Доска для рисования</string>
		<key>Photo</key>
		<string>доска16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Баланс борд – это такая штука, которая не только занимает мало места и позволяет развить чувство баланса, улучшить владение своим телом, получить красивые мышцы и в целом апгрейдить себя, но и является секретным оружием тех, кто не падает с других бордов. На самом деле, чтобы грациозно лететь по снежному склону (ловить волну и даже ходить по канату), не обязательно годами обитать в горах (на море с правильным прибоем, возле того самого каната) – достаточно регулярно тренироваться на баланс борде. Подойдет в качестве подарка людям, которые любят и занимаются экстримальными видами спорта, а также тем, кто просто хочет держать себя в форме и тренировать равновесие.</string>
		<key>Caption</key>
		<string>Балансборд</string>
		<key>Photo</key>
		<string>балансборд16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Оригинальный планшет, рисовать на котором можно чистой водой. Оригинальный формат создан для широких жестов и приглашает раскрыть безграничность своего творческого потенциала. Прекрасным аксессуаром для рисования служит большая бамбуковая кисть. Настоящая находка для творческий людей. Уже через несколько минут нанесенная на поверхность вода начнет испаряться, и перед вами окажется совершенно чистый лист, который готов к созданию нового шедевра. Плюс ко всему - это еще увлекательная игра, которая учит детей наблюдать и размышлять.</string>
		<key>Caption</key>
		<string>Планшет для рисования водой</string>
		<key>Photo</key>
		<string>рисовалка водой16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Набор из леденцов для отличного настроения подойдет в качестве подарка как детям, так и взрослым. Необычные впечатления, яркие эмоции и, конечно, возможность поделиться этим всем с друзьями. Балуйте знакомых необычными сладостяими и получайте удовольствие, наблюдая за счастливыми лицами.</string>
		<key>Caption</key>
		<string>Леденцы с рисунками</string>
		<key>Photo</key>
		<string>леденцы16-ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>3D-ручка - новое слово в творчестве. Рисовать можно не только чернилами фломастеров или красками, но и специальным пластиком! Он под воздействием высоких температур приобретает нужную будущему художнику форму, послушно «внимая» каждому его движению. Благодаря особенным свойствам владельцу не составит труда сделать неповторимые объемные рисунки или модели! Достаточно лишь нагреть устройство при помощи адаптера для того, чтобы начать творить.</string>
		<key>Caption</key>
		<string>3D-Ручка</string>
		<key>Photo</key>
		<string>3D-ручка</string>
	</dict>
</array>
</plist>
