<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Оригинальный дверной стоппер выполнен из полиэстера. Благодаря наполнителю из песка стоппер тяжелый и устойчивый. Это поможет вам защитить двери и стены от различных повреждений, сколов и царапин. Такой ограничитель не только послужит по своему прямому назначению, но и стильно дополнит интерьер помещения. Вам больше не придется беспокоиться о том, что вы случайно ударите дверью стену и повредите обои.</string>
		<key>Caption</key>
		<string>Дверной стоппер</string>
		<key>Photo</key>
		<string>стоппер50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Симпатичный человечек будет рад внести свой эко-вклад в развитие растительной жизни в твоем доме. Его голова - это кашпо, в котором ты можешь посадить травку или любые другие растения на любой вкус и цвет. Немного любви, света и регулярного полива - и любой парикмахер позавидует его колосящимся зеленым локонам. Идеальное сочитание природы и красоты.</string>
		<key>Caption</key>
		<string>Горшок для растений</string>
		<key>Photo</key>
		<string>горшок50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Легко транспортируемая кофеварка теперь всегда будет с вами. По утрам вы сможете насладиться свежесваренным кофе и порадовать других. Кофе можно заваривать капельным способом. Для получения готового напитка необходимо пропустить кипяток через установленный в кофеварку фильтр с молотым кофе и все, кофе у вас! Можно даже устанавливать сверху на чашку или стакан.</string>
		<key>Caption</key>
		<string>Портативная кофеварка</string>
		<key>Photo</key>
		<string>кофеварка50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Вечный пакет молока, не бумажный, а выполненный в стекле. Отличная дизайнерская вещь! Послужит прекрасным украшением на вашем столе во время завтрака. Удобно брать, ничего не разливается, все лаконично и просто! Если хотите удивить девушку или друзей - это то, что вам нужно! </string>
		<key>Caption</key>
		<string>Молочник</string>
		<key>Photo</key>
		<string>молочник50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Сделай свое окружение зеленее, а воздух чище, не пачкая при этом руки в грунте и не ломая голову над тем, какие семена и удобрения лучше подобрать. Вовремя поливай растение согласно инструкции, и твой новый зеленый друг не заставит себя долго ждать! Теперь вы сможете вырастить самое настоящее дерево прямо у себя на подоконнике!</string>
		<key>Caption</key>
		<string>Домашнее дерево</string>
		<key>Photo</key>
		<string>дерево50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>На смену традиционным формам для приготовления льда, пришли новые оригинальные формы в виде различных предметов, которыми можно не только охладить, но и украсить любой напиток. Формочка изготовлена из пищевого силикона или пластика, что позволяет легко извлечь лёд, не сломав ледяные фигурки. Послужит украшением на любом столе и поднимет настроение.</string>
		<key>Caption</key>
		<string>Формочки для льда</string>
		<key>Photo</key>
		<string>форма50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Акваферма – это самоочищающийся аквариум, который выращивает урожай. Рыбка кормит растения, а растения очищают воду в аквариуме. Это замкнутая экосистема прямо на вашем столе! Всё, что вам нужно делать – кормить свою рыбку и наслаждаться появляющимися зелёными листочками. Этим подарком вы сможете растопить сердце любой девушки!</string>
		<key>Caption</key>
		<string>Акваферма</string>
		<key>Photo</key>
		<string>акваферма50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Кресло-качалка — универсальное средство для отдыха со специальной возможностью раскачиваться взад-вперёд сидящему в нём человеку. Подходит к качестве подарка любой возростной категории. Можно поставить как в комнате, так и на веранде или в на заднем дворе вашего дома. Идеальное место отдыха после сложного рабочего дня или просто способ уединения с собой и своими мыслями.</string>
		<key>Caption</key>
		<string>Кресло-качалка</string>
		<key>Photo</key>
		<string>качалка50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Гамак для ног - гениально и просто! Больше нет давления на колени и стопы. Кровь и жидкость не застаиваются в нижних конечностях. Ноги расположены на комфортной высоте - регулируйте длину веревки с помощью специального кольца. Польза, шик, комфорт, яркость красок, удивление и восторг! Подходит для любых видов столов — открытых и закрытых — благодаря специальным креплениям.</string>
		<key>Caption</key>
		<string>Гамак для ног</string>
		<key>Photo</key>
		<string>гамак50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Забыть, потерять или перепутать связку с ключами теперь не удастся! Достаточно свистнуть, и брелок тут же отзовется специальным сигналом. Если вы постоянно забываете где оставили свои ключи, то теперь считайте, что ваша проблема решена.
Окружите себя приятными мелочами, пусть они радуют взгляд и дарят гармонию. </string>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель50+ж</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совершенно новый продукт, сделанный за счет вакуумного дна. Больше не придется переживать по поводу того, задените ли вы случайно стакан рукой или нет. Просто расслабляйтесь и получайте удовольстие от своих напитков, не беспокоясь.</string>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка50+ж</string>
	</dict>
</array>
</plist>
