<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Набор дизайн-принадлежностей</string>
		<key>Photo</key>
		<string>дизайн16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Модель корабля</string>
		<key>Photo</key>
		<string>корабль16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Настольная игра</string>
		<key>Photo</key>
		<string>манчкин16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Доска для рисования</string>
		<key>Photo</key>
		<string>доска16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Мини-дом</string>
		<key>Photo</key>
		<string>домик16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Балансборд</string>
		<key>Photo</key>
		<string>балансборд16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Планшет для рисования водой</string>
		<key>Photo</key>
		<string>водой16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Леденцы с рисунками</string>
		<key>Photo</key>
		<string>леденцы16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Аквариум-квартира</string>
		<key>Photo</key>
		<string>квартира16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Дрон</string>
		<key>Photo</key>
		<string>дрон16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Набор программируемых плат</string>
		<key>Photo</key>
		<string>ардуино16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>3D-Ручка</string>
		<key>Photo</key>
		<string>ручка16-м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Шоколадные инструменты</string>
		<key>Photo</key>
		<string>шоколад16-м</string>
	</dict>
</array>
</plist>
