<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item - 1</key>
	<dict>
		<key>Caption</key>
		<string>Аквариум-квартира</string>
		<key>Photo</key>
		<string>аквариум16-30</string>
	</dict>
	<key>Item - 2</key>
	<dict>
		<key>Caption</key>
		<string>Набор программируемых плат Arduino</string>
		<key>Photo</key>
		<string>ардуино16-30</string>
	</dict>
	<key>Item - 3</key>
	<dict>
		<key>Caption</key>
		<string>Полет в аэротрубе</string>
		<key>Photo</key>
		<string>аэротруба16-30</string>
	</dict>
	<key>Item - 4</key>
	<dict>
		<key>Caption</key>
		<string>Балансборд</string>
		<key>Photo</key>
		<string>балансборд16-30</string>
	</dict>
	<key>Item - 5</key>
	<dict>
		<key>Caption</key>
		<string>Электрический скейтборд</string>
		<key>Photo</key>
		<string>бустедборд16-30</string>
	</dict>
	<key>Item - 6</key>
	<dict>
		<key>Caption</key>
		<string>Коллекция виниловых дисков</string>
		<key>Photo</key>
		<string>винил16-30</string>
	</dict>
	<key>Item - 7</key>
	<dict>
		<key>Caption</key>
		<string>Набор дизайнерских принадлежностей</string>
		<key>Photo</key>
		<string>дизайн16-30</string>
	</dict>
	<key>Item - 8</key>
	<dict>
		<key>Caption</key>
		<string>Дрон</string>
		<key>Photo</key>
		<string>дрон16-30</string>
	</dict>
	<key>Item - 9</key>
	<dict>
		<key>Caption</key>
		<string>Альбом для фото из Instagram</string>
		<key>Photo</key>
		<string>инстабук16-30</string>
	</dict>
	<key>Item - 10</key>
	<dict>
		<key>Caption</key>
		<string>Книжный светильник</string>
		<key>Photo</key>
		<string>лампа16-30</string>
	</dict>
	<key>Item - 11</key>
	<dict>
		<key>Caption</key>
		<string>Кресло-мешок</string>
		<key>Photo</key>
		<string>мешок16-30</string>
	</dict>
	<key>Item - 12</key>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка16-30</string>
	</dict>
	<key>Item - 13</key>
	<dict>
		<key>Caption</key>
		<string>Поп-арт картина</string>
		<key>Photo</key>
		<string>попарт16-30</string>
	</dict>
	<key>Item - 14</key>
	<dict>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне16-30</string>
	</dict>
	<key>Item - 15</key>
	<dict>
		<key>Caption</key>
		<string>Планшет для рисования</string>
		<key>Photo</key>
		<string>рисовалка16-30</string>
	</dict>
	<key>Item - 16</key>
	<dict>
		<key>Caption</key>
		<string>Планшет для рисования водой</string>
		<key>Photo</key>
		<string>рисунок водой16-30</string>
	</dict>
	<key>Item - 17</key>
	<dict>
		<key>Caption</key>
		<string>3D-Ручка</string>
		<key>Photo</key>
		<string>ручка16-30</string>
	</dict>
	<key>Item - 18</key>
	<dict>
		<key>Caption</key>
		<string>Кружка-бра</string>
		<key>Photo</key>
		<string>светильник16-30</string>
	</dict>
	<key>Item - 19</key>
	<dict>
		<key>Caption</key>
		<string>Скретч-карта</string>
		<key>Photo</key>
		<string>скретч-карта16-30</string>
	</dict>
	<key>Item - 20</key>
	<dict>
		<key>Caption</key>
		<string>Сумка</string>
		<key>Photo</key>
		<string>сумка16-30</string>
	</dict>
</dict>
</plist>
