<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Идея навеяна букетами и композициями из детских вещичек, которые сейчас стали популярным подарком к рождению ребенка. Цветы складываются из детских носочков и распашонок, а сама композиция дополняется погремушками и небольшими игрушками. Сам носок просто сворачивается по спирали, получается что-то вроде розочки, которую можно закрепить, например, на коктейльной трубочке. По этой же технологии можно собрать букет из мужских носков. Согласитесь, подарок получится очень оригинальный! Ну и полезный, конечно же — такой букет не сносить и до лета, какие еще цветы могут похвастаться такой долговечностью и практичностью! </string>
		<key>Caption</key>
		<string>Букет из носков</string>
		<key>Photo</key>
		<string>букеи из носков</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Стильный холдер станет незаменимой вещью как в повседневной жизни, так и в любой поездке. Компактный и функциональный - он вместит в себя самые необходимые и важные документы и подарит незабываемое удовольстие в использовании!</string>
		<key>Caption</key>
		<string>Обложка для документов</string>
		<key>Photo</key>
		<string>обложка для документовМ</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Заинтригуй гостей необычной и на удивление компактной открывашкой! Она стильная и в то же время отлично выполняет свои функции. Мощный магнит фиксирует уже открытые крышки и помогает сохранить порядок на протяжении всей вечеринки. Отличный подарок для любителей шумных и людных мероприятих и больших собраний у себя дома!</string>
		<key>Caption</key>
		<string>Открывалка для бутылок с магнитом</string>
		<key>Photo</key>
		<string>открывашкаМ</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Очень удобный планер для рабочего стола, стилизованный под книгу или недавний выпуск газеты! Довольно оригинальная вещь, которая позволит вам продуктивно проводить ваши учебные или рабочие будни и иметь все ваши планы и цели перед глазами. Каждый раз, когда вы будете смотреть на свой стол, планнер будет напоминать вам про ваши дела и предотвращать вашу прокрастинацию.</string>
		<key>Caption</key>
		<string>Настольный планнинг</string>
		<key>Photo</key>
		<string>планнингМ</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Чтобы дома было уютно, аккуратно и красиво, очень важно, чтобы каждая вещь была на своем месте. Это продуманный до мелочей органайзер для прихожей, который совмещает в себе удобную полку, ключницу и вешалку для аксессуаров! Теперь дома вас будет встречать не только ваша женщина или любимый пес, но и приятный порядок.</string>
		<key>Caption</key>
		<string>Полка-органайзер</string>
		<key>Photo</key>
		<string>полка-органайзерМ</string>
	</dict>
</array>
</plist>
