<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Набор программируемых плат</string>
		<key>Photo</key>
		<string>ардуино16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Полет в аэротрубе</string>
		<key>Photo</key>
		<string>аэротруба16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Балансборд</string>
		<key>Photo</key>
		<string>балансборд16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Кружка-светильник</string>
		<key>Photo</key>
		<string>бра16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Электро-скейтборд</string>
		<key>Photo</key>
		<string>бустед16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Дизайнерский планшет</string>
		<key>Photo</key>
		<string>ваком16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Планшет для рисования водой</string>
		<key>Photo</key>
		<string>водная16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Набор дизайн-принадлежностей</string>
		<key>Photo</key>
		<string>дизайн16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Виниловый диск</string>
		<key>Photo</key>
		<string>диски16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Дрон</string>
		<key>Photo</key>
		<string>дрон16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Альбом для фото из Instagram</string>
		<key>Photo</key>
		<string>инстабук16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Скретч-карта</string>
		<key>Photo</key>
		<string>карта16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Аквариум-квартира</string>
		<key>Photo</key>
		<string>квартира16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Книжная лампа</string>
		<key>Photo</key>
		<string>книжный16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Кресло-мешок</string>
		<key>Photo</key>
		<string>мешок16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Поп-арт картина</string>
		<key>Photo</key>
		<string>попарт16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>3D-Ручка</string>
		<key>Photo</key>
		<string>ручка16-30м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Сумка</string>
		<key>Photo</key>
		<string>сумка16-30м</string>
	</dict>
</array>
</plist>
