<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Отличный подарок для тех, кто любит делать что-то своими руками. В наборе вы найдёте самую распространённую платформу Arduino Uno, набор радиодеталей, провода, макетную плату, а самое главное — красочную лаконичную обучающую брошюру, которая с нуля научит вас делать собственные электронные устройства. С такой платой можно делать все что угодно: от летающих дронов и до приспособлений  &quot;умного дома&quot;.</string>
		<key>Caption</key>
		<string>Набор программируемых плат</string>
		<key>Photo</key>
		<string>ардуино16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Полет в аэротрубе - это только сильные впечатления, но еще и прекрасный подарок. Вряд ли кто-то задумывался о том, чтобы пойти и «добровольно» оплатить себе пару минут полета: то страх терзает, а то и просто – банальная жадность. А вот получить подарочный сертификат на испытание аэротрубы и свободный полет в течение 2-4-6 минут никто не откажется! Прекрасный способ подарить кучу приятных впечатлений.</string>
		<key>Caption</key>
		<string>Полет в аэротрубе</string>
		<key>Photo</key>
		<string>аэротруба16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Баланс борд – это такая штука, которая не только занимает мало места и позволяет развить чувство баланса, улучшить владение своим телом, получить красивые мышцы и в целом апгрейдить себя, но и является секретным оружием тех, кто не падает с других бордов.

На самом деле, чтобы грациозно лететь по снежному склону (ловить волну и даже ходить по канату), не обязательно годами обитать в горах (на море с правильным прибоем, возле того самого каната) – достаточно регулярно тренироваться на баланс борде. Подойдет в качестве подарка людям, которые любят и занимаются экстримальными видами спорта, а также тем, кто просто хочет держать себя в форме и тренировать равновесие.</string>
		<key>Caption</key>
		<string>Баланс борд</string>
		<key>Photo</key>
		<string>балансборд16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Подвесной светильник идеально впишется в любой интерьер. Можете использовать его для чтения книг, просмотра фильмов со своей второй половинкой. Бра создаст вам атмосферу незабываемого вечера и домашнего уюта.</string>
		<key>Caption</key>
		<string>Кружка-светильник</string>
		<key>Photo</key>
		<string>бра16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Абсолютно новый и практичный способ передвижения по городу. С легкостью заменит вам велосипед или обычный скейтборд. На одном зарядке такой электро-скейтборд сможет проехать до нескольких десятков километров при скорости до 30 км/ч. Если хотите приятно удивить человека - этот вариант подарка именно для вас!</string>
		<key>Caption</key>
		<string>Электро-скейтборд</string>
		<key>Photo</key>
		<string>бустед16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Устройство для ввода информации, созданной от руки непосредственно в компьютер. Состоит из пера и плоского планшета, чувствительного к нажатию или близости пера. Также может прилагаться специальная мышь. Замечательный подарок для творческих людей. Их удобно использовать для переноса (отрисовки) уже готовых изображений в компьютер. </string>
		<key>Caption</key>
		<string>Графический планшет</string>
		<key>Photo</key>
		<string>ваком16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Оригинальный планшет, рисовать на котором можно чистой водой. Оригинальный формат создан для широких жестов и приглашает раскрыть безграничность своего творческого потенциала. Прекрасным аксессуаром для рисования служит большая бамбуковая кисть. Настоящая находка для творческий людей. Уже через несколько минут нанесенная на поверхность вода начнет испаряться, и перед вами окажется совершенно чистый лист, который готов к созданию нового шедевра. Плюс ко всему - это еще увлекательная игра, которая учит детей наблюдать и размышлять.</string>
		<key>Caption</key>
		<string>Планшет для рисования водой</string>
		<key>Photo</key>
		<string>водная16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Всякий художник нуждается в надёжном инструменте. Берётесь ли вы эскиз, рисуете ли по зову вдохновения — без хороших карандашей не обойтись. Такие карандаши отличаются лёгкими и плавными линиями при рисовании, что делает их оптимальным вариантом для скетчинга и работы в свободном стиле.</string>
		<key>Caption</key>
		<string>Набор дизайн-принадлежностей</string>
		<key>Photo</key>
		<string>дизайн16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличное дополнение к проигрывателю виниловых дисков, но также может служить, как самобытный и оригинальный презент для музыкантов и ценителей музыки. Пластинки отлично впишутся в ваш интерьер и украсят ваше домашнее пространство своими яркими обложками.</string>
		<key>Caption</key>
		<string>Виниловый диск</string>
		<key>Photo</key>
		<string>диски16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Квадрокоптеры оснащаются улучшенной камерой с дюймовым сенсором и большим разрешением при съемке. Камера способна снимать 4К видео со скоростью 60 кадров в секунду и выполнять фотосъемку в серийном режиме. Также их дальность может быть до 10 километров а высота до 3 километров. Камеры оснащены сенсорамы, которые позволяют получать четкую картинку при скоростном передвижении. Это уникальный опыт и отличный гаджет для тех, кто любит путешествовать и вести активный образ жизни.</string>
		<key>Caption</key>
		<string>Дрон</string>
		<key>Photo</key>
		<string>дрон16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Множество событий в жизни современного человека достойны того, чтобы сохраняться на долгие годы. Запечатлить их можно фотоаппаратом, а вот просматривать их интереснее, держа в руках и перелистывая красиво оформленные страницы современных фотокниг. Фотоальбом для снимков из Instagram (или просто Инстабук) - то что вам нужно. Благодаря инновационным материалам ваши интерьерные отпечатки будут более устойчивы к истиранию, воздействию внешних факторов и влаге. </string>
		<key>Caption</key>
		<string>Альбом для фото из Instagram</string>
		<key>Photo</key>
		<string>инстабук16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Детальная скретч и пин карта мира, которая станет прекрасным декором для дома и мотивирующим подарком для друзей и родных. Отмечайте места, которые вы посещали и ставьте себе новые цели, а затем добивайтесь их. После нескольких лет вы с гордостью сможете показать друзьям и гостям вашего дома свои достижения в покорении мира, а также получить множество воспоминаний.</string>
		<key>Caption</key>
		<string>Скретч-карта</string>
		<key>Photo</key>
		<string>карта16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Вы когда нибудь видели настоящие квартиры с окнами для рыбок? Теперь видели. Если вы собираетесь купить кому-то в подарок рыбку, то аквариум-квартира это отличное дополнение, вместо обычного скучного аквариума. Оригинальный дизайн будет радовать ваш глаз каждый раз, когда ваш взор будет на него падать. Такой аквариум легко впишется в любой интерьер любой части комнаты в вашем доме или вашей квартиры.</string>
		<key>Caption</key>
		<string>Аквариум-квартира</string>
		<key>Photo</key>
		<string>квартира16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ваши друзья и знакомые однозначно оценят это, если любят почитать перед сном, предпочитая бумажные книги планшетам и смартфонам. Разместив на удобной ножке за книжный переплет, получаешь спложное удовольствие от чтения, ничего не нужно держать, все работает как надо. Свет мягкий, рассеянный — идеален для чтения. Все просто и практично.</string>
		<key>Caption</key>
		<string>Книжная лампа</string>
		<key>Photo</key>
		<string>книжный16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Прекрасный подарок для любителей спортивных матчей и видеоигр. Пуффы бывают самых различных расцветок, размеров и вида, поэтому легко впишутся в любой интерьер. Также подходит для отдыха компанией. Удобно, практично, дешево!</string>
		<key>Caption</key>
		<string>Кресло-мешок</string>
		<key>Photo</key>
		<string>мешок16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совершенно новый продукт, сделанный за счет вакуумного дна. Больше не придется переживать по поводу того, задените ли вы случайно стакан рукой или нет. Просто расслабляйтесь и получайте удовольстие от своих напитков, не беспокоясь.</string>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Портрет в стиле Поп-Арт - это классическая стилизация вашей фотографии в стиле Энди Уорхола с помощью работы художника на графическом планшете с последующей печатью на холст или прорисовкой маслом. Ваш подарок будет особенным на торжестве. Любой из портретов может быть сделан по вашей фотографии.  </string>
		<key>Caption</key>
		<string>Поп-арт картина</string>
		<key>Photo</key>
		<string>попарт16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Портмоне рассчитано под размер купюр, благодаря чему банкноты не будут мяться. Лаконичный и сдержанный стиль модели подчеркнет высокий статус ее владельца. Практичное решение для хранения ваших документов, денег и кредиток.</string>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>3D-ручка - новое слово в творчестве. Рисовать можно не только чернилами фломастеров или красками, но и специальным пластиком! Он под воздействием высоких температур приобретает нужную будущему художнику форму, послушно «внимая» каждому его движению. Благодаря особенным свойствам владельцу не составит труда сделать неповторимые объемные рисунки или модели! Достаточно лишь нагреть устройство при помощи адаптера для того, чтобы начать творить.</string>
		<key>Caption</key>
		<string>3D-Ручка</string>
		<key>Photo</key>
		<string>ручка16-30м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличный подарок для поддержания делового иммиджа. Такой подарок подойдет как студентам, так и тем, кто уже работает. Сумку можно выбрать на любой вкус, от цвета кожи до размера, а также материала, из которого она будет сделана.</string>
		<key>Caption</key>
		<string>Сумка</string>
		<key>Photo</key>
		<string>сумка16-30м</string>
	</dict>
</array>
</plist>
