<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Кружка-светильник</string>
		<key>Photo</key>
		<string>бра30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Винил-проигрыватель</string>
		<key>Photo</key>
		<string>винил30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Виски-камни</string>
		<key>Photo</key>
		<string>виски30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Груша-антистресс</string>
		<key>Photo</key>
		<string>груша30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Дартс</string>
		<key>Photo</key>
		<string>дартс30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Набор виниловых дисков</string>
		<key>Photo</key>
		<string>диски30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Модель корабля</string>
		<key>Photo</key>
		<string>корабль30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Кресло-мешок</string>
		<key>Photo</key>
		<string>мешок30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Поп-арт картина</string>
		<key>Photo</key>
		<string>попарт30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Склад для винных пробок</string>
		<key>Photo</key>
		<string>пробки30-50м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Шоколадные инструменты</string>
		<key>Photo</key>
		<string>шоколад30-50м</string>
	</dict>
</array>
</plist>
