<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Подвесной светильник идеально впишется в любой интерьер. Можете использовать его для чтения книг, просмотра фильмов со своей второй половинкой. Бра создаст вам атмосферу незабываемого вечера и домашнего уюта.</string>
		<key>Caption</key>
		<string>Кружка-светильник</string>
		<key>Photo</key>
		<string>бра30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Идеальный подарок для музыкантов и просто ценителей музыки. В качестве подарка подойдет как профессионалам, так и обывателям. В век высоких технологий, проигрыватель оснащен многими современными функциями и возможностями. Вы сможете с удовольствием послушать свою коллекцию виниловых дисков и насладиться этим уникальным опытом.</string>
		<key>Caption</key>
		<string>Винил-проигрыватель</string>
		<key>Photo</key>
		<string>винил30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Аксессуар культуры употребления виски. Камни для виски позволяют охладить виски, не разбавляя его.  С их помощью также можно охлаждать другие напитки (ром, вино, сок, лимонад). В свою очередь, нагретые камни за счет высокой теплоемкости позволяют поддерживать температуру горячих напитков, таких как кофе и чай, только при условии если температура камней не ниже, вышеуказанных напитков. Это не только стиль и имидж. Основное назначение каменных кубиков - выдерживать точный и
стабильный температурный режим виски. Это обязательное условие, при котором букет напитка
раскроется и будет долгое время оставаться &quot;открытым&quot; для своего владельца.</string>
		<key>Caption</key>
		<string>Виски-камни</string>
		<key>Photo</key>
		<string>виски30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Эта настольная боксерская груша - это и спортивный мини-тренажер для кисти, и антистресс для психологической разрядки. 
Груша представляет собой камеру футбольного мяча, вшитую в чехол и закрепленную на мощной пружине. Вы можете установить ее в любом месте и когда-угодно снимать напряжение. Отличный подарок для офисных работников и для тех, у кого нет достаточно времени проводить за занятиями спортом или на свежем воздухе.</string>
		<key>Caption</key>
		<string>Груша-антистресс</string>
		<key>Photo</key>
		<string>груша30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Игра зародилась несколько столетий назад на Британских островах. До сих пор дартс является традиционной игрой, в которую играют в пабах Великобритании, Нидерландов, Скандинавии, Соединённых Штатов и некоторых других. Помимо этого, в дартс играют и на профессиональном уровне. Человек, занимающийся дартсом, называется дартсмен. Но также игра будет отличным презентом на компанию людей, которые людят собираться вечерами и весело проводить время. У вас больше не получится заскучать свободными вечерами1</string>
		<key>Caption</key>
		<string>Дартс</string>
		<key>Photo</key>
		<string>дартс30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличное дополнение к проигрывателю виниловых дисков, но также может служить, как самобытный и оригинальный презент для музыкантов и ценителей музыки. Пластинки отлично впишутся в ваш интерьер и украсят ваше домашнее пространство своими яркими обложками.</string>
		<key>Caption</key>
		<string>Виниловый диск</string>
		<key>Photo</key>
		<string>диски30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Забыть, потерять или перепутать связку с ключами теперь не удастся! Достаточно свистнуть, и брелок тут же отзовется специальным сигналом. Если вы постоянно забываете где оставили свои ключи, то теперь считайте, что ваша проблема решена.
Окружите себя приятными мелочами, пусть они радуют взгляд и дарят гармонию. </string>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Судомоделизм является одним из ведущих хобби направлений в мире. Купив деревянную модель корабля, Вы получите не просто украшение для интерьера, но и впоследствии модель музейного качества. Деревянный парусник не стыдно подарить друзьям и близким. При изготовлении Вы будете развивать такие навыки как усидчивость, аккуратность и терпение. Сразу оговоримся, что на сборку сложных моделей уходят многие месяцы, но поверьте нам, оно того стоит. Сборные модели кораблей из дерева одно из самых увлекательных и сложных направлений в моделизме. Большинство сборных моделей - это копии реальных кораблей с богатой историей.</string>
		<key>Caption</key>
		<string>Модель корабля</string>
		<key>Photo</key>
		<string>корабль30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Прекрасный подарок для любителей спортивных матчей и видеоигр. Пуффы бывают самых различных расцветок, размеров и вида, поэтому легко впишутся в любой интерьер. Также подходит для отдыха компанией. Удобно, практично, дешево!</string>
		<key>Caption</key>
		<string>Кресло-мешок</string>
		<key>Photo</key>
		<string>мешок30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совершенно новый продукт, сделанный за счет вакуумного дна. Больше не придется переживать по поводу того, задените ли вы случайно стакан рукой или нет. Просто расслабляйтесь и получайте удовольстие от своих напитков, не беспокоясь.</string>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Портрет в стиле Поп-Арт - это классическая стилизация вашей фотографии в стиле Энди Уорхола с помощью работы художника на графическом планшете с последующей печатью на холст или прорисовкой маслом. Ваш подарок будет особенным на торжестве. Любой из портретов может быть сделан по вашей фотографии.  </string>
		<key>Caption</key>
		<string>Поп-арт картина</string>
		<key>Photo</key>
		<string>попарт30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Портмоне рассчитано под размер купюр, благодаря чему банкноты не будут мяться. Лаконичный и сдержанный стиль модели подчеркнет высокий статус ее владельца. Практичное решение для хранения ваших документов, денег и кредиток.</string>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совет любителям вина – собирайте пробки! Потому что пробка – идеальный декор для кухни, особенно если оформлена подобающим образом. Если у вас есть знакомые ценители вин, то такой подарок является идеальным решением. </string>
		<key>Caption</key>
		<string>Склад винных пробок</string>
		<key>Photo</key>
		<string>пробки30-50м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Вы думаете, что подарить другу, коллеге или приятелю, да так, чтобы ваш сюрприз запомнился надолго? Сделайте оригинальный подарок: преподнесите ему набор инструментов – да не простой, а из прекрасного горького шоколада! Разумеется, таким молотком не забьешь ни одного гвоздя, а ключом не закрутишь ни одной гайки… Но радости этот факт не убавит – совсем наоборот! Это отличный сюрприз для людей с чувством юмора. А уж если замечательный набор понравится взрослым мужчинам, то уж мальчишки придут просто в дикий восторг.</string>
		<key>Caption</key>
		<string>Шоколадные инструменты</string>
		<key>Photo</key>
		<string>шоколад30-50м</string>
	</dict>
</array>
</plist>
