<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Кресло-качалка — универсальное средство для отдыха со специальной возможностью раскачиваться взад-вперёд сидящему в нём человеку. Подходит к качестве подарка любой возростной категории. Можно поставить как в комнате, так и на веранде или в на заднем дворе вашего дома. Идеальное место отдыха после сложного рабочего дня или просто способ уединения с собой и своими мыслями.</string>
		<key>Caption</key>
		<string>Кресло-качалка</string>
		<key>Photo</key>
		<string>кресло-качалка50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Портмоне рассчитано под размер купюр, благодаря чему банкноты не будут мяться. Лаконичный и сдержанный стиль модели подчеркнет высокий статус ее владельца. Практичное решение для хранения ваших документов, денег и кредиток.</string>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Аксессуар культуры употребления виски. Камни для виски позволяют охладить виски, не разбавляя его.  С их помощью также можно охлаждать другие напитки (ром, вино, сок, лимонад). В свою очередь, нагретые камни за счет высокой теплоемкости позволяют поддерживать температуру горячих напитков, таких как кофе и чай, только при условии если температура камней не ниже, вышеуказанных напитков. Это не только стиль и имидж. Основное назначение каменных кубиков - выдерживать точный и
стабильный температурный режим виски. Это обязательное условие, при котором букет напитка
раскроется и будет долгое время оставаться &quot;открытым&quot; для своего владельца.

</string>
		<key>Caption</key>
		<string>Виски-камни</string>
		<key>Photo</key>
		<string>виски-камни50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Судомоделизм является одним из ведущих хобби направлений в мире. Купив деревянную модель корабля, Вы получите не просто украшение для интерьера, но и впоследствии модель музейного качества. Деревянный парусник не стыдно подарить друзьям и близким. При изготовлении Вы будете развивать такие навыки как усидчивость, аккуратность и терпение. Сразу оговоримся, что на сборку сложных моделей уходят многие месяцы, но поверьте нам, оно того стоит. Сборные модели кораблей из дерева одно из самых увлекательных и сложных направлений в моделизме. Большинство сборных моделей - это копии реальных кораблей с богатой историей.</string>
		<key>Caption</key>
		<string>Модель корабля</string>
		<key>Photo</key>
		<string>корабль50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Детальная скретч и пин карта мира, которая станет прекрасным декором для дома и мотивирующим подарком для друзей и родных. Отмечайте места, которые вы посещали и ставьте себе новые цели, а затем добивайтесь их. После нескольких лет вы с гордостью сможете показать друзьям и гостям вашего дома свои достижения в покорении мира, а также получить множество воспоминаний.</string>
		<key>Caption</key>
		<string>Скретч-карта </string>
		<key>Photo</key>
		<string>скретч-карта50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Гамак для ног - гениально и просто! Больше нет давления на колени и стопы. Кровь и жидкость не застаиваются в нижних конечностях. Ноги расположены на комфортной высоте - регулируйте длину веревки с помощью специального кольца. Польза, шик, комфорт, яркость красок, удивление и восторг! Подходит для любых видов столов — открытых и закрытых — благодаря специальным креплениям.</string>
		<key>Caption</key>
		<string>Гамак для ног</string>
		<key>Photo</key>
		<string>гамак для ног50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Отличный подарок на компанию. В число настольных игр входят игры со специальным полем, карточные игры, кости, солдатики и другие. Игры данной категории, в отличие от спортивных и видеоигр, не требуют активного перемещения игроков, наличия дополнительного технически сложного инвентаря или специальных сооружений, игровых площадок, полей и т. п. Поможет вам не засиживаться на месте и весело провести время с друзьями и знакомыми. </string>
		<key>Caption</key>
		<string>Настольная игра</string>
		<key>Photo</key>
		<string>манчкин50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Съедобная  бумага (или пищевая бумага) производится из натуральных компонентов и специально предназначена для печати на пищевом принтере. В зависимости от типа съедобной бумаги и конкретного производителя, бумажный лист может иметь разную толщину, отличаться по составу, цвету, вкусу и фактуре. Наиболее популярной и, одновременно, самой доступной является вафельная бумага или рисово-вафельная бумага. Весьма оригинальный подарок, подходящий для любого мероприятия и повода, которым вы сможете удивить любого.</string>
		<key>Caption</key>
		<string>Рисовая бумага</string>
		<key>Photo</key>
		<string>бумажная еда50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Эта настольная боксерская груша - это и спортивный мини-тренажер для кисти, и антистресс для психологической разрядки. 
Груша представляет собой камеру футбольного мяча, вшитую в чехол и закрепленную на мощной пружине. Вы можете установить ее в любом месте и когда-угодно снимать напряжение. Отличный подарок для офисных работников и для тех, у кого нет достаточно времени проводить за занятиями спортом или на свежем воздухе.</string>
		<key>Caption</key>
		<string>Груша-антистресс</string>
		<key>Photo</key>
		<string>груша-антистресс50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Забыть, потерять или перепутать связку с ключами теперь не удастся! Достаточно свистнуть, и брелок тут же отзовется специальным сигналом. Если вы постоянно забываете где оставили свои ключи, то теперь считайте, что ваша проблема решена.
Окружите себя приятными мелочами, пусть они радуют взгляд и дарят гармонию. </string>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совет любителям вина – собирайте пробки! Потому что пробка – идеальный декор для кухни, особенно если оформлена подобающим образом. Если у вас есть знакомые ценители вин, то такой подарок является идеальным решением. </string>
		<key>Caption</key>
		<string>Склад винных пробок</string>
		<key>Photo</key>
		<string>склад50+м</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Совершенно новый продукт, сделанный за счет вакуумного дна. Больше не придется переживать по поводу того, задените ли вы случайно стакан рукой или нет. Просто расслабляйтесь и получайте удовольстие от своих напитков, не беспокоясь.</string>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка50+м</string>
	</dict>
</array>
</plist>
