<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Кресло-качалка</string>
		<key>Photo</key>
		<string>кресло-качалка50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Портмоне</string>
		<key>Photo</key>
		<string>портмоне50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Виски-камни</string>
		<key>Photo</key>
		<string>виски-камни50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Модель корабля</string>
		<key>Photo</key>
		<string>корабль50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Скретч-карта путешествий</string>
		<key>Photo</key>
		<string>скретч-карта50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Гамак для ног</string>
		<key>Photo</key>
		<string>гамак для ног50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Настольная игра</string>
		<key>Photo</key>
		<string>манчкин50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Рисовая бумага</string>
		<key>Photo</key>
		<string>бумажная еда50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Груша-антистресс</string>
		<key>Photo</key>
		<string>груша-антистресс50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Искатель ключей</string>
		<key>Photo</key>
		<string>искатель50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Склад для винных пробок</string>
		<key>Photo</key>
		<string>склад50+м</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Стакан-неваляшка</string>
		<key>Photo</key>
		<string>неваляшка50+м</string>
	</dict>
</array>
</plist>
